@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  /* --background-rgb: 255, 255, 255; */
  /* --background-color: #f1e6b9; */
}

body {
  color: rgb(var(--foreground-rgb));
  /* background: bgar(--background-rgb)); */
  background-image: url('/assets/images/Konglish-BG-6.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  /* background-color: var(--background-color); */
}
